
{{!-- Lista que contenga todos los productos agregados hasta el momento --}}
 {{#each words}}
<div>
    
    <h1>Productos</h1>
    <p>title: {{title}}</p>
    <p>description: {{description}}</p>
    <p>code: {{code}}</p>
    <p>price: {{price}}</p>
    <p>status: {{status}}</p>
    <p>stock: {{stock}}</p>
    <p>category: {{category}}</p>
    <p>id: {{id}}</p>
   
</div>
 {{/each}}